<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">

  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Buy and Sell Bitcoins with people you trust </h1>
    <p>0% commission. 100% trust </p>
    <a type="button" class="btn btn-lg btn-default" href="https://www.youtube.com/watch?v=mrN0q2SCBFI"><span class="glyphicon glyphicon-bitcoin"></span> try it out!</a>
  </div>
</div>



</body>
</html>
